img {
	margin-top: 40px;
	margin-bottom: 20px;
	max-height: 260px;
	max-width:  260px;
}

div h3 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.container {
	margin-top: 70px;
}

.btn-warning {
	color: black;
	text-decoration: none;
	margin-bottom: 20px;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, {
	text-decoration: none;
}


#empty{
	padding-top: 10%;
	padding-bottom: 50%; 
	color: rgba(0, 0, 0, 0.5);	
}


