<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="landing-carousel carousel-item active " style="background-image: url(https://images.unsplash.com/photo-1494512163437-5d01c88c0e5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1500&h=1000&fit=crop&s=ef78afb96ef5d469fbed3d2e940841bb); background-size: cover">
      <div class="carousel-caption d-none d-md-block">
        Enjoy your favorite activities around the world
      </div>
    </div>
    <div class="landing-carousel carousel-item" style="background-image: url(https://images.unsplash.com/photo-1457794355224-e92bb76cec4c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=329fcfd62feef8ba88b4334dd4fd86bc); background-size: cover">
      <div class="carousel-caption d-none d-md-block">
        Gaze at different architectures around the globe
      </div>
    </div>
    <div class="landing-carousel carousel-item" style="background-image: url(https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=1a7462516fe1cd7d4711096483063e0a); background-size: cover">
      <div class="carousel-caption d-none d-md-block">
        Relax with your favorite people
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

