<div *ngIf="compareIds() && dataIsLoaded === true" class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 personal-info">
			<small class="myalert" *ngIf="wrongCredentials == true">Wrong email or passport</small>
			<form class="form-horizontal" role="form" #changepass="ngForm" [ngClass]="{'submitted': submitted}" (ngSubmit)="onSubmit(changepass.value, changepass.valid)" novalidate>
				<div class="form-group">
					<label class="col-md-5 control-label">Previous Password:</label>
					<div class="col-md-8">
						<input class="form-control" name="password" type="password" [(ngModel)]="data.password" required #password="ngModel" reverse="true">
					</div>
					<small class="myalert" [hidden]="password.valid || (!changepass.submitted) || (!submitted)">
				    	Password is required.
					</small>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">New Password:</label>
					<div class="col-md-8">
						<input class="form-control" name="password" type="password" [(ngModel)]="data.newPass" required #password="ngModel" reverse="true">
					</div>
					<small class="myalert" [hidden]="password.valid || (!changepass.submitted) || (!submitted)">
				    	Password is required.
					</small>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">Confirm New Password:</label>
					<div class="col-md-8">
						<input class="form-control" name="pasVer" type="password" [(ngModel)]="data.passVer" required validateEqual="password" #pasver="ngModel">
					</div>
					<small class="myalert" [hidden]="pasver.valid || (!changepass.submitted) || (!submitted)">
						Passwords do not match.
					</small>
				</div>
				<div class="form-group">
		            <div class="col-sm-4">
		              <button (click)="submitted = true" type="submit" class="btn btn-primary btn-block">Save Changes</button>
		            </div>
		        </div>
	        </form>
	    </div>
	</div>
</div>

<div *ngIf="!compareIds()" class="container text-center" id="empty">
  <h4>You do not have access to be here ¯\_(ツ)_/¯</h4>
</div>