#component-body {
	margin-top : 100px;
}

#toRemovePrev{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.my-thumbnail{
	height: 100px !important;
    width: 100px !important;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:4px;
	opacity: 0.8;
}

.my-thumbnail:hover{
	height: 100px !important;
    width: 100px !important;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:4px;
	opacity: 1;
}

.clicked{
	opacity: 0.4;
}

.date-input {

  border: none;
  border-bottom : 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  margin-left: 30px;
  display: inline-block;
  width: 130px;
  height: 40px;
}

.custom-toggle {
  margin-left: -50px;
  z-index: 4;
}